{% for natt in netter %}
    {% if natt['natt'] is defined %}
    <h5>Natt: {{ natt['natt']|date('d.m.Y') }}:</h5>
    <table class="table overnatting-oversikt" >
            <thead>
                <tr>
                    <th scope="col">Fylke</th>
                    <th scope="col">Kommune</th>
                    <th scope="col">Ledere som overnatter i landsbyen</th>
                    <th scope="col">Ansvarlig leder</th>
                </tr>
            </thead>

        {% for fylke_key, fylke_data in natt['fylker'] %}
            {% for key_arr, arr_data in fylke_data %}    
                <tbody>
                    <tr class="ledere-tr">                       
                        <td><b>{{ fylker[fylke_key].getNavn() }}</b> ({{ arrangementer[key_arr].getNavn() }})</td>
                        <td>
                            {% for kommune in arrangementer[key_arr].getKommuner() %}
                                <span>{{ kommune.getNavn }}</span>
                                <br>
                            {% endfor %}
                        </td>
                        <td><b>{{ arr_data['total'] ? arr_data['total'] : 0 }}</b> leder{{ arr_data['total'] > 1 ? 'e' : '' }} overnatter</td>
                        <td>{{ arr_data['hovedLedere'].getNavn() }} - {{ arr_data['hovedLedere'].getMobil() }}</td>
                    </tr>
                </tbody>
            {% endfor %}
        {% endfor %}
    </table>
    {% endif %}
{% endfor %}


<style>
    .overnatting-oversikt {
        margin-left: 70px;
        margin-bottom: 100px;
    }
    .ledere-tr td {
        width: 25%;
    }
</style>