{% block content %}

{# Unique deltaker basert på tlf nummer #}
{% set uniqueDeltaker = [] %}
{% set counter = 0 %}

{% if sorteringMetode == 'alfabetisk' %}
    <table id="rapportDeltakereTable" class="table table-striped">
        <tr>
            <th><h5>Deltaker navn</h5></th>
            <th><h5>Innslag navn</h5></th>
            <th><h5>Innslag type</h5></th>
            <th><h5>Kommune</h5></th>
            <th><h5>Fylke</h5></th>
        </tr>

        
        {% for personerInnslag in personerInnslag|sort((a, b) => a['person'].getNavn() <=> b['person'].getNavn()) %}
            {% set person = personerInnslag['person'] %}
            {% set innslag = personerInnslag['innslag'] %}

            {% if person.getMobil() %}
                {% set uniqueDeltaker = uniqueDeltaker|merge({(person.getMobil()) : person.getMobil()}) %}
            {% else %}
                {% set counter = counter + 1 %} 
            {% endif %}
            
            <tr>
                <td>{{ counter }}. {{ person.getNavn() }}</td>
                <td>{{ innslag.getNavn() }}</td>
                <td>{{ innslag.getType() }}</td>

                {% if person.getKommune() and person.getKommune() != 'ukjent' %}
                    <td>{{ person.getKommune().getNavn() }}</td>
                {% else %}
                    <td>{{ innslag.getKommune().getNavn() }}</td>
                {% endif %}

                {% if person.getFylke() %}
                    <td>{{ person.getFylke().getNavn() }}</td>
                {% else %}
                    <td>{{ innslag.getFylke().getNavn() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    {% for key, persIns in personerInnslag %}
        {% set personer = persIns['personer'] %}

        <h4>{{ key }}</h4>
        <table id="rapportDeltakereTable" class="table innslag-sorting table-striped">
        {% if personer %}
            {% for person in personer|sort((a, b) => a.getNavn() <=> b.getNavn()) %}
                {% if person.getMobil() %}
                    {% set uniqueDeltaker = uniqueDeltaker|merge({(person.getMobil()) : person.getMobil()}) %}
                {% else %}
                    {% set counter = counter + 1 %} 
                {% endif %}

                {% set innslag = alleInnslag[person.getContext().getInnslag().getId()] %}

                <tr>
                    <td>{{ counter }}. {{ person.getNavn() }}</td>
                    <td>{{ innslag.getNavn() }}</td>
                    <td>{{ innslag.getType() }}</td>

                    {% if person.getKommune() and person.getKommune() != 'ukjent' %}
                        <td>{{ person.getKommune().getNavn() }}</td>
                    {% else %}
                        <td>{{ innslag.getKommune().getNavn() }}</td>
                    {% endif %}
                    
                    {% if person.getFylke() %}
                        <td>{{ person.getFylke().getNavn() }}</td>
                    {% else %}
                        <td>{{ innslag.getFylke().getNavn() }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
        
        </table>
        <h5>Antall: {{ counter}}</h5>
        <hr>
        <br>
    {% endfor %}
{% endif %}

<h4>Totalt: {{ counter + uniqueDeltaker|length }}</h4>

<style>
#rapportDeltakereTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#rapportDeltakereTable tr td, #rapportDeltakereTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 20%;
}

#rapportDeltakereTable th tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
{% endblock %}
