{% block content %}

{% if sorteringMetode == 'alfabetisk' %}
    <table id="rapportDeltakereTable" class="table table-striped">
        <tr>
            <th>Deltaker navn</th>
            <th>Innslag navn</th>
            <th>Innslag type</th>
            <th>Kommune</th>
            <th>Fylke</th>
        </tr>

        
        {% for personerInnslag in personerInnslag|sort((a, b) => a['person'].getNavn() <=> b['person'].getNavn()) %}
            {% set person = personerInnslag['person'] %}
            {% set innslag = personerInnslag['innslag'] %}
            <tr>
                <td><b>{{ person.getNavn() }}</b></td>
                <td>{{ innslag.getNavn() }}</td>
                <td>{{ innslag.getType() }}</td>
                {% if person.getKommune() %}
                    <td>{{ person.getKommune().getNavn() }}</td>
                {% endif %}
                {% if person.getFylke() %}
                    <td>{{ person.getFylke().getNavn() }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% elseif sorteringMetode == 'innslag' %}
    {% for key, persIns in personerInnslag|sort((a, b) => a['innslag'].getType().getNavn() <=> b['person'].getType().getNavn()) %}

        {% set innslag = persIns['innslag'] %}
        {% set personer = persIns['personer'] %}

        <h4>{{ key }}</h4>
        <table id="rapportDeltakereTable" class="table innslag-sorting table-striped">
            {% for person in personer|sort((a, b) => a.getNavn() <=> b.getNavn()) %}
            <tr>
                <td>{{ person.getNavn() }}</td>
                {% if person.getKommune() %}
                    <td>{{ person.getKommune().getNavn() }}</td>
                {% endif %}
                {% if person.getFylke() %}
                    <td>{{ person.getFylke().getNavn() }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
        <br>
    {% endfor %}
{% endif %}


<style>
#rapportDeltakereTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#rapportDeltakereTable tr td, #rapportDeltakereTable th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#rapportDeltakereTable th tr:nth-child(even) {
    background-color: #dddddd;
}
#rapportDeltakereTable.innslag-sorting tr td {
    width: 33.3%;
}
</style>
{% endblock %}
