{% if not config.vis('kommune') and not config.vis('start') and not config.vis('arrangement') and not config.vis('sted') and not config.vis('paameldte') %}
<span>Ingen kolonner ble valgt!</span>
{% endif %}

{% set colspan = 1 %}
<table class="table table-striped">
	<tr>
		{% if config.vis('kommune') %}
		<th>Kommune</th>
		{% endif %}

		{% if config.vis('start') %}
		<th style="text-align:right;">Starter</th>
		{% endif %}

		{% if config.vis('ferdig') %}
		<th>Ferdig</th>
		{% endif %}

		{% if config.vis('arrangement') %}
		<th>Arrangement</th>
		{% endif %}

		{% if config.vis('sted') %}
		<th>Sted</th>
		{% endif %}

		{% if config.vis('paameldte') %}
		<th>Påmeldte personer</th>
		{% endif %}
	</tr>

	
	{% for kommune in kommuner %}
		{% for arrangement in kommune['arrangementer'] %}
		<tr>
			{% if config.vis('kommune') %}
			<td>{{kommune['kommune'].getNavn() }}</td>
			{% endif %}

			{% if config.vis('start') %}
			<td style="text-align:right;">{{ arrangement.getStart()|dato("D j. M Y") }}</td>
			{% endif %}

			{% if config.vis('ferdig') %}
			<td style="text-align:right;">{{ arrangement.getStop()|dato("D j. M Y") }}</td>
			{% endif %}

			{% if config.vis('arrangement') %}
			<td><a href="{{arrangement.getLink()}}" target="_blank">{{ arrangement.getNavn() }}</a></td>
			{% endif %}

			{% if config.vis('sted') %}
			<td>{{ arrangement.getSted() }}</td>
			{% endif %}
			
			{% if config.vis('paameldte') %}
				{% if arrangement.getSesong() > 2019 %}
					<td>{{ arrangement.getInnslag().getAntallPersonerSimple() }}</td>
				{% else %}
					<td>-</td>
				{% endif %}
			{% endif %}
		</tr>
		{% endfor %}
	{% endfor %}
</table>


<h3 id="utenArrTitle" class="mt-5">Kommuner uten arrangementer</h3>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Kommune</th>
			<th>Fylke</th>
		</tr>
	</thead>
{% set utenArrangmenet = false %}
{% for kommune in kommuner %}
	{% if kommune['arrangementer']|length < 1 %}
	{% set utenArrangmenet = true %}
	<tr>
		<td>{{ kommune['kommune'] }}</td>
		<td>{{ kommune['kommune'].getFylke().getNavn() }}</td>
	</tr>
	{% endif %}
{% endfor %}
</table>

{% if utenArrangmenet == false %}
<script>jQuery('#utenArrTitle').detach()</script>
{% endif %}
