<h2>Lokalkontakter</h2>

{% set colspan = 1 %}
<table class="table table-striped">
	<tr>
        <th>Kommune / bydel</th>
		<th>Kontaktperson</th>
		{% if config.vis('mobil') %}
			<th>Mobilnummer</th>
            {% set colspan = colspan + 1 %}
		{% endif %}
		{% if config.vis('epost') %}
			<th>E-post</th>
            {% set colspan = colspan + 1 %}
		{% endif %}
	</tr>


	{% for omrade in rapport.getOmrader() %}
        {% set fylke = omrade.getFylke() %}
		{% for kommune in fylke.getKommuner().getAll()|filter( 
            kommune => 
                config.vis('valgte_kommuner_i_'~fylke.getId()) 
                or (
                    not config.vis('valgte_kommuner_i_'~fylke.getId())
                    and config.vis('kommune_'~kommune.getId())
                )
            )
        %}
			{% for admin in kommune.getOmrade().getAdministratorer().getAll() %}
				<tr>
                    <td>{{kommune.getNavn() }}</td>
					<td>{{admin.getNavn()}}</td>
					{% if config.vis('mobil') %}
						<td>{{admin.getUser().getMobil()}}</td>
					{% endif %}
					{% if config.vis('epost') %}
						<td>{{admin.getUser().getEpost()}}</td>
					{% endif %}
				</tr>
			{% else %}
				<tr>
                    <td>{{kommune.getNavn() }}</td>
					<td class="text-muted" colspan="{{colspan}}">Ingen kontaktpersoner</td>
				</tr>
			{% endfor %}
		{% endfor %}
	{% endfor %}
