<h1>Kommuner per mønstring</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>År</th>
			<th>Antall kommuner</th>
			<th>Komuner involvert <br />i en mønstring</th>
			<th>Antall arrangerte<br />mønstringer</th>
			<th>Kommuner i snitt per mønstring</th>
		</tr>
	</thead>
	<tbody>
		{% for sesong in sesonger %}
			<tr>
				<th>{{ sesong.year }}</a></th>
				<td>{{ kommuner }}</td>
				<td>
					{{ sesong.kommuner_registrert }}
				</td>
				<td>{{ sesong.monstringer }}</td>
				<td>
					{% if sesong.monstringer > 0 %}
						{{ (sesong.kommuner_registrert  / sesong.monstringer)|round(3) }}
					{% else %}
						0
					{% endif %}
				</td>
				<td>
					{{ sesong.pameldte }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>