{% set superTotalInnslag = 0 %}
{% set superTotalUnikeDeltakere = 0 %}
{% set superTotalLedere = 0 %}
{% set superTotalLedsagerTurister = 0 %}

{% set totalPerTypeArr = [] %}
{% set totalInnslagPerFylke = [] %}

{% for fylke_key, fylker in fylkerData %}
    {% set totalInnslag = 0 %}
    {% set totalDeltakere = 0 %}
    {% set totalUnikeDeltakere = 0 %}
    {% set totalLedere = 0 %}
    {% set totalLedsagerTurister = 0 %}

    <h2 class="fylke-overskrift">{{ alleFylker[fylke_key] }}</h2>

    {% for arrng_key, arrangementData in fylker %}
        {% if arrangementData['innslagIArrangement'] %}
            <h4 class="total-oversikt text arrangement">{{ arrangementer[arrng_key].getNavn() }}</h4>
            <h5 class="total-oversikt text">Innslag typene oversikt:</h5>
            <table class="table total-oversikt">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Innslag</th>
                        <th scope="col">Personer</th>
                    </tr>
                </thead>

                {% for typeNavn, innslagData in arrangementData['innslagIArrangement'] %}
                <tbody class="t-body-border">
                    {% set antallInnslag = 0 %}
                    {% set antallPersoner = 0 %}
                    {% set typeStr = typeNavn %}


                    {% for innslag in innslagData %}
                        {% set antallInnslag = antallInnslag + 1 %}
                        {% set antallPersoner = antallPersoner + innslag.getPersoner().getAntall() %}

                        <tr class="ledere-tr">
                            <td><b>{{ typeStr }}</b></td>
                            <td>{{ innslag.getNavn() }}</td>
                            <td>{{ innslag.getPersoner().getAntall() }}</td>
                        </tr>

                        {% set typeStr = '' %}
                        {% set totalInnslagPerFylke = totalInnslagPerFylke|merge({(typeNavn): totalInnslagPerFylke[typeNavn] + 1}) %}
                    {% endfor %}

                    {% set totalPerTypeArr = totalPerTypeArr|merge({(typeNavn): totalPerTypeArr[typeNavn] + antallPersoner}) %}

                    <tr class="ledere-tr">                       
                        <td><b>Total</b></td>
                        <td><b>{{ antallInnslag }}</b></td>
                        <td><b>{{ antallPersoner }}</b></td>
                    </tr>
                
                </tbody>
                {% endfor %}
            </table>
        
        {% endif %}
    {% endfor %}

    <h4 class="total-oversikt text">Oversikt:</h4>
    <table class="table total-oversikt">
            <thead>
                <tr>
                    <th scope="col">Arrangement</th>
                    <th scope="col">Antall innslag</th>
                    <th scope="col">Antall deltakere</th>
                    <th scope="col">Antall unike deltakere</th>
                    <th scope="col">Antall ledere</th>
                    <th scope="col">Antall ledsagere / turister</th>
                </tr>
            </thead>

        {% for arrng_key, arrangementData in fylker %}
            <tbody>
                <tr class="ledere-tr">                       
                    <td>{{ arrangementer[arrng_key].getNavn() }}</td>
                    <td>{{ arrangementData['antallInnslag'] }}</td>
                    <td>{{ arrangementData['antallDeltakere'] }}</td>
                    <td>{{ arrangementData['antallUnikeDeltakere'] }}</td>
                    <td>{{ arrangementData['antallLedere'] }}</td>
                    <td>{{ arrangementData['antallLedsagerTurister'] }}</td>
                </tr>
            </tbody>

            {# Setter data for bruk på fylke totaloversikt #}
            {% set totalInnslag = totalInnslag + arrangementData['antallInnslag'] %}
            {% set totalDeltakere = totalDeltakere + arrangementData['antallDeltakere'] %}
            {% set totalUnikeDeltakere = totalUnikeDeltakere + arrangementData['antallUnikeDeltakere'] %}
            {% set totalLedere = totalLedere + arrangementData['antallLedere'] %}
            {% set totalLedsagerTurister = totalLedsagerTurister + arrangementData['antallLedsagerTurister'] %}
        {% endfor %}


    {# TOTALOVERSIKT FOR FYLKE #}
        <tbody>
            <tr class="ledere-tr">                     
                <td><b>Sum</b></td>
                <td><b>{{ totalInnslag }}</b></td>
                <td><b>{{ totalDeltakere }}</b></td>
                <td><b>{{ totalUnikeDeltakere }}</b></td>
                <td><b>{{ totalLedere }}</b></td>
                <td><b>{{ totalLedsagerTurister }}</b></td>
            </tr>
        </tbody>
    </table>


    {% set superTotalInnslag = superTotalInnslag + totalInnslag %}
    {% set superTotalUnikeDeltakere = superTotalUnikeDeltakere + totalUnikeDeltakere %}
    {% set superTotalLedere = superTotalLedere + totalLedere %}
    {% set superTotalLedsagerTurister = superTotalLedsagerTurister + totalLedsagerTurister %}
{% endfor %}


{# TOTALOVERSIKT FOR ALLE VIDERESENDINGER TIL DETTE ARRANGEMENTET #}
<h3 class="super-total-oversikt">SUM FOR UTVALGTE FYLKER</h3>

{% if totalPerTypeArr %}
    <table class="table total-oversikt total-i-fylke">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Antall innslag</th>
                <th scope="col">Antall personer</th>
            </tr>
        </thead>
        <tbody>
            {% for key, antall in totalPerTypeArr %}
            <tr class="ledere-tr">                     
                <td><h5>{{ key }}</h5></td>
                <td><h5>{{ totalInnslagPerFylke[key] }}</h5></td>
                <td><h5>{{ antall }}</h5></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

     <table class="table total-oversikt total-i-fylke">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Antall innslag</th>
                <th scope="col">Antall unike deltakere</th>
                <th scope="col">Antall ledere</th>
                <th scope="col">Antall ledsagere / turister</th>
            </tr>
        </thead>
        <tbody>
            <tr class="ledere-tr">                     
                <td><h4>Total</h4></td>
                <td><h4>{{ superTotalInnslag }}</h4></td>
                <td><h4>{{ superTotalUnikeDeltakere }}</h4></td>
                <td><h4>{{ superTotalLedere }}</h4></td>
                <td><h4>{{ superTotalLedsagerTurister }}</h4></td>
            </tr>
        </tbody>
    </table>


<style>
    .fylke-overskrift, .super-total-oversikt {
        margin-top: 100px;
    }
    .fylke-overskrift:nth-child(1) {
        margin-top: 0;
    }
    .total-oversikt.text {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .total-oversikt.text.arrangement {
        margin-bottom: -10px;
    }
    .total-oversikt {
        margin-left: 50px;
    }
    .arrangement-oversikt {
        margin-left: 50px;
    }
    .ledere-tr td {
        width: 16.66%;
    }
    .ledere-tr td h4 {
        margin: 0;
    }
    .t-body-border {
        border-bottom: solid 2px #0000004f !important;
    }
</style>