{% set superTotal = 0 %}
{% for ledereFylke in fylkeLedere %}
    {% for leder in ledereFylke['ledere'] %}
        {% set superTotal = superTotal + 1 %}
    {% endfor %}
{% endfor %}

<h1>TOTALOVERSIKT LEDERE <span class="total-rapport-sum">total: {{ superTotal }}</span></h1>
{% for ledereFylke in fylkeLedere %}
    <h3>{{ ledereFylke['fylke'].getNavn() }} <span class="total-rapport-sum">total: {{ ledereFylke['ledere']|length }}</span></h3>
    <table class="table ledere-oversikt" >
        <thead>
            <tr>
                <th scope="col">Navn</th>
                <th scope="col">Mobil</th>
                <th scope="col">Epost</th>
                <th scope="col">Funksjon</th>
                <th scope="col">Fylke</th>
                <th scope="col">Arrangement</th>
            </tr>
        </thead>
        <tbody>
            
                {% for leder in ledereFylke['ledere'] %}
                    <tr class="ledere-tr">
                        <td>{{ leder.getNavn() }}</td>
                        <td>{{ leder.getMobil() }}</td>
                        <td>{{ leder.getEpost() }}</td>
                        <td>{{ leder.getTypeNavn() }}</td>
                        <td>{{ ledereFylke['fylke'].getNavn() }}</td>
                        <td>{{ leder.getArrangementFra().getNavn() }}</td>
                    </tr>            
                {% endfor %}
        </tbody>
    </table>
{% endfor %}

<p>

{# Alle ledere post #}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseLedereEposter" aria-expanded="false" aria-controls="collapseLedereEposter">
    Alle ledere e-poster
</button>

<div class="collapse nop col-xs-12" id="collapseLedereEposter">
    <div class="card ledere-eposter card-body">
{% set counter = 0 %}
{% set withoutEpost = false %}
{% for ledereFylke in fylkeLedere %}
    {% for leder in ledereFylke['ledere'] %}
        {% set counter = counter+1 %}

        {% if leder.getEpost() %}
            {{ leder.getEpost() }}{{ counter < superTotal ? ',' : '' }}
        {% else %}
            {% set withoutEpost = true %}
        {% endif %}
        
    {% endfor %}
{% endfor %}
    </div>
{% if withoutEpost == true %}
    <div class="info">
        <span><b>OBS:</b> Ikke alle ledere har e-post!</span>
    </div>
{% endif %}
    
</div>

<style>
    .ledere-oversikt {
        margin-bottom: 50px;
    }
    .ledere-tr td {
        width: 16.66% !important;
    }
    .total-rapport-sum {
        border: solid 1px #00000036;
        padding: 7px 15px;
        border-radius: 5px;
        background: #fff;
        font-size: 14px;
        margin-left: 10px;
        vertical-align: middle;
    }
    .card.ledere-eposter {
        width: 100%;
        min-width: 100%;
        padding: 10px;
    }
    #collapseLedereEposter {
        padding: 0;
    }
</style>