{% set antallBestillinger = 0 %}
{% set ledere = [] %}
{% set lederFylker = {} %}

{% for gyldigNatt in alleGyldigeNetter %}
    {% set personerArr = [] %}
    {% set roomArr = [] %}
    {% set natt = netter[gyldigNatt|date('d_m')] %}
    {% set superTotal = 0 %}

    {% for fylke_key, fylke_data in natt['fylker'] %}
        {% for arr_data in fylke_data %} 
            {% set superTotal = superTotal + arr_data|length %}
        {% endfor %}
    {% endfor %}
    {% if natt %}    
        <h4 class="natt-rapport-item">Natt: {{ gyldigNatt|date('d.m.y') }}</h4>
        <table class="table overnatting-oversikt" >
                <thead>
                    <tr>
                        <th scope="col">Navn</th>
                        <th scope="col">Tlf</th>
                        <th scope="col">Epost</th>
                        <th scope="col">Rom</th>
                        <th scope="col">Gruppe</th>
                        <th scope="col">Fylke</th>
                    </tr>
                </thead>

            {% for fylke_key, fylke_data in natt['fylker'] %}
                {% for key_arr, arr_data in fylke_data %}
                    {% for leder in arr_data %}
                        {% set lederKey = leder.getNavn() ~ '_' ~ leder.getMobil() %}
                        {% set lederFylker = lederFylker|merge({ (lederKey): fylker[fylke_key] ?? 'UKM Norge' }) %}
                        
                        {% set ledere = ledere|merge([leder]) %}

                        {% set antallBestillinger = antallBestillinger+1 %}
                        {# Legger til unique personer #}
                        {% if leder.getId() not in personerArr %}
                            {% set personerArr = personerArr|merge([leder.getId()]) %}
                        {% endif %}
                        
                        {# Legger til unique personer #}
                        {% if leder.getRom().getId() not in roomArr %}
                            {% set roomArr = roomArr|merge([leder.getRom() ? leder.getRom().getId() : leder.getNavn()]) %}
                        {% endif %}
                        <tbody>
                            {% set delerRom = (arr_data|filter(led => led.getRom() and led.getRom().getId() == leder.getRom().getId())|length) > 1 %}
                            <tr class="ledere-tr-videresending {{ delerRom ? 'same-room' : '' }} ">                       
                                <td>{{ leder.getNavn() }}</td>
                                <td>{{ leder.getMobil() }}</td>
                                <td>{{ leder.getEpost() }}</td>
                            {% if leder.getRom() %}
                                    <td>{{ leder.getRom().getType() }} {{ delerRom ? (' (deler rom ' ~ leder.getRom().getId() ~ ')') : '' }}</td>
                                {% else %}
                                <td>enkeltrom</td>    
                            {% endif %}
                                <td>
                                    {% for oGruppe in overnattingGrupper %}
                                        {% for oPerson in oGruppe %}
                                            {% if oPerson.getId() == leder.getId() %}
                                                {{ oGruppe.getNavn() }}
                                            {% endif %}    
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                                <td>{{ fylker[fylke_key] ? fylker[fylke_key] : 'UKM Norge' }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </table>
        <div style="display: flex; max-width: 300px; margin-bottom: 100px;">
            <h5 style="margin: auto; margin-left: 0;">Antall personer: {{ personerArr|length }}</h5> 
            <h5 style="margin: auto; margin-left: 0;">Antall rom: {{ roomArr|length }}</h5>
        </div>
    {% endif %}


{% endfor %}

{% set totalEnkeltrom = 0 %}
{% set totalDobbeltrom = 0 %}
{% set totalTrippeltrom = 0 %}
{% set totalKvadrupeltrom = 0 %}

{% for gyldigNatt in alleGyldigeNetter %}
    {% set natt = netter[gyldigNatt|date('d_m')] %}

    {% set antallEnkeltrom = [] %}
    {% set antallDobbeltrom = [] %}
    {% set antallTrippeltrom = [] %}
    {% set antallKvadrupeltrom = [] %}

    {% for fylke_key, fylke_data in natt['fylker'] %}
        {% for key_arr, arr_data in fylke_data %}    
            {% for leder in arr_data %}
                
            {% if leder.getRom() is defined %}
                {% set rom = leder.getRom() ? leder.getRom() : null %}
                {% set kapasitet = leder.getRom() is defined ? leder.getRom().getKapasitet() : 1 %}

                {% if leder and kapasitet == 1 and leder.getRom().getId() not in antallEnkeltrom %}
                    {% set antallEnkeltrom = antallEnkeltrom|merge([leder.getRom().getId()]) %}
                {% elseif leder and kapasitet == 2 and leder.getRom().getId() not in antallDobbeltrom %}
                    {% set antallDobbeltrom = antallDobbeltrom|merge([leder.getRom().getId()]) %}
                {% elseif leder and kapasitet == 3 and leder.getRom().getId() not in antallTrippeltrom %}
                    {% set antallTrippeltrom = antallTrippeltrom|merge([leder.getRom().getId()]) %}
                {% elseif leder and kapasitet == 4 and leder.getRom().getId() not in antallKvadrupeltrom %}
                    {% set antallKvadrupeltrom = antallKvadrupeltrom|merge([leder.getRom().getId()]) %}
                {% endif %}
            {% else %}
                {% set antallEnkeltrom = antallEnkeltrom|merge([1])%}
            {% endif %}

    
            {% endfor %}
        {% endfor %}
    {% endfor %}

    {% set totalEnkeltrom = totalEnkeltrom + antallEnkeltrom|length %}
    {% set totalDobbeltrom = totalDobbeltrom + antallDobbeltrom|length %}
    {% set totalTrippeltrom = totalTrippeltrom + antallTrippeltrom|length %}
    {% set totalKvadrupeltrom = totalKvadrupeltrom + antallKvadrupeltrom|length %}
{% endfor %}


<h4>Totalt for alle netter:</h4>
<h5>Antall enkeltrom: <b>{{ totalEnkeltrom }}</b></h5>
<h5>Antall dobbeltrom: <b>{{ totalDobbeltrom }}</b></h5>
<h5>Antall trippeltrom: <b>{{ totalTrippeltrom }}</b></h5>
<h5>Antall kvadrupeltrom: <b>{{ totalKvadrupeltrom }}</b></h5>


<br>
<span class="muted">Personer som ikke har definert romtype har blitt beregnet som enkeltrom</span>


<br>
<br>
<br>
<hr>
<h4>Enkel versjon</h4>
<span class="muted">Denne versjonen kan tilpasses og kopieres/lim inn i Excel-hotellfilen.</span>
<br>


{% set _namespace = { 'tempPersoner': {} } %}
{% set delerRoom = [] %}

{% for gyldigNatt in alleGyldigeNetter %}
    {% set dateKey = gyldigNatt|date('d_m') %}
    {% set natt = netter[dateKey] %}

    {% if natt %}
        {% for fylke_key, fylke_data in natt.fylker %}
            {% for key_arr, arr_data in fylke_data %}
                {% for leder in arr_data %}
                    {% set lederKey = leder.getNavn() ~ '_' ~ leder.getMobil() %}

                    {% if leder.getRom() %}
                        {% set delerRom = (arr_data|filter(led => led.getRom() and led.getRom().getId() == leder.getRom().getId())|length) > 1 %}
                    {% endif %}


                    {# Extract current state of tempPersoner #}
                    {% set tempPersoner = _namespace.tempPersoner %}

                    {# Initialize if not exists #}
                    {% if tempPersoner[lederKey] is not defined %}
                        {% set tempPersoner = tempPersoner|merge({ (lederKey): [] }) %}
                    {% endif %}

                    {% set dates = tempPersoner[lederKey] %}

                    {% if dateKey not in dates %}
                        {% set dates = dates|merge([dateKey]) %}
                        {% set tempPersoner = tempPersoner|merge({ (lederKey): dates }) %}
                    {% endif %}

                    {# Write back to _namespace #}
                    {% set _namespace = _namespace|merge({ 'tempPersoner': tempPersoner }) %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}


<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Room type</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Arrival Date</th>
            <th>Departure Date</th>
            <th>Email/phone number</th>
            <th>Nationality</th>
            <th>Comments</th>
            <th>Companions</th>
            <th>Last name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>First name</th>
            <th>Last name</th>
            <th>First name</th>
        </tr>
    </thead>
    <tbody>
        {% for lederKey, dates in _namespace.tempPersoner %}
            {% set found = false %}
            {% set navn = '' %}
            {% set mobil = '' %}
            {% set epost = '' %}
            {% set roomNr = '' %}
            {% set kapasitet = '' %}
            {% for leder in ledere %}
                {% if not found and (leder.getNavn() ~ '_' ~ leder.getMobil() == lederKey) %}
                    {% set navn = leder.getNavn() %}
                    {% if leder.getMobil()|length > 1 %}
                        {% set mobil = leder.getMobil() %}
                    {% endif %}
                    {% set epost = leder.getEpost() %}
                    {% set kapasitet = leder.getRom().getKapasitet() ?? 1  %}
                    
                    {% set found = true %}
                {% endif %}
            {% endfor %}

            {# Parse and check dates #}
            {% set parsedDates = [] %}
            {% for date in dates %}
                {% set parts = date|split('_') %}
                {% set day = parts[0] %}
                {% set month = parts[1] %}
                {% set year = "now"|date("Y") %}
                {% set dateString = year ~ '-' ~ month ~ '-' ~ day %}
                {% set parsedDates = parsedDates|merge([date(dateString)]) %}
            {% endfor %}

            {% set parsedDates = parsedDates|sort %}
            {% set isConsecutive = true %}
            {% for i in 1..(parsedDates|length - 1) %}
                {% set prev = parsedDates[i - 1] %}
                {% set current = parsedDates[i] %}
                {% if (current|date('U') - prev|date('U')) > 86400 %}
                    {% set isConsecutive = false %}
                {% endif %}
            {% endfor %}

            <tr>
                <td class="td-etternavn">{{ kapasitet < 2 ? 'Single Room' : 'Andre Type Room'}}</td>
                <td class="td-etternavn">{{ navn|split(' ')|slice(1)|join(' ') }}</td>
                <td class="td-fornavn">{{ navn|split(' ')[0] }}</td>
              {% if isConsecutive %}
                    <td class="td-start">{{ parsedDates[0]|date('d-m-Y') }}</td>
                    <td class="td-end">{{ parsedDates[parsedDates|length - 1]|date_modify('+1 day')|date('d-m-Y') }}</td>
                {% elseif parsedDates|length > 1 %}
                    <td <td class="td-sammenhengende">>
                        Ikke sammenhengende:
                        {% for d in parsedDates %}
                            {{ d|date('d.m.Y') }}{{ not loop.last ? ', ' : '' }}
                        {% endfor %}
                    </td>
                {% else %}
                    <td class="td-start">{{ parsedDates[0]|date('d-m-Y') }}</td>
                    <td class="td-end">{{ parsedDates[0]|date_modify('+1 day')|date('d-m-Y') }}</td>
                {% endif %}

                {% if mobil|length < 1 and epost|length < 1 %}
                    <td class="td-kontakt">-</td>
                {% else %}
                    <td class="td-kontakt">{{ mobil ~ ((mobil|length > 1 and epost|length > 1) ? ' / ' : '') ~ epost }}</td>
                {% endif %}
                <td class="td-nationality">Norwegian</td>
                <td class="td-comment">{{ lederFylker[lederKey] ?? '-' }}</td>
                <td class="td-companion">{{ kapasitet > 1 ? 'Yes' : 'No' }}</td>
                
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>


            </tr>
        {% endfor %}
    </tbody>
</table>



<style>
    .natt-rapport-item {
        margin-top: 50px;
    }
    .overnatting-oversikt {
        margin-left: 70px;
        margin-bottom: 50px;
    }
    .ledere-tr td {
        width: 33%;
    }
    .ledere-tr-videresending td {
        width: 16.6%;
    }
    .total-rapport-sum {
        border: solid 1px #00000036;
        padding: 7px 15px;
        border-radius: 5px;
        background: #fff;
        font-size: 14px;
        margin-left: 10px;
        vertical-align: middle;
    }
    .ledere-tr-videresending.same-room {
        background: #dbdbdb;
    }
</style>