<h2>Kontaktliste {{ monstring.getNavn() }} {{ monstring.getSesong() }}</h2>
<table class="table table-striped">
	{% for person in personer %}
		<tr>
			<th align="left">{{ person.getInnslag() }}{#{ person.getId() }#}</th>
			<td>{{ person.getNavn() }}</td>
			<td class="UKMSMS">{{ person.getMobil() }}</td>
			<td><a href="{{ person.getEpost() }}" class="UKMMAIL">{{ person.getEpost() }}</a></td>
			<td>{{ person.getTypeNavn() }}</td>
			<td>{{ person.getKommune() }}</td>
		</tr>
	{% else %}
		<tr>
			<td>Fant ingen personer som passer kriteriene</td>
		</tr>
	{% endfor %}
</table>