{% extends "Components/innslag/element.html.twig" %}

{% block data %}
	{% if config.show('tekniske_behov') and innslag.getType().harTekniskeBehov() %}
		<tr>
			<td colspan="{{maxCol}}" class="internalHeader">TEKNISKE BEHOV</td>
		</tr>
		<tr>
			<td colspan="{{maxCol}}">
				{{ innslag.getTekniskeBehov() }}
			</td>
		</tr>
	{% endif %}

	{% if config.show('mediefiler') %}
		<tr>
			<td colspan="{{maxCol}}" class="internalHeader">MEDIEFILER</td>
		</tr>
        <tr>
			<td colspan="{{maxCol}}">
				Beklager, rapporten støtter ikke visning av mediefiler enda.
			</td>
		</tr>
	{% endif %}
{% endblock %}
