<div class="clearfix"></div>
<div class="row">
    <div class="col-12 col-sm-12">
        <h3>{{ title }}</h3>
    </div>
    <div class="col-12 col-sm-10">
        <div class="previewList" id="previewList_{{id}}">
            <ol class="list-group options"> {% block options %}{% endblock %}
            </ol>
            <div class="preview">
                <label class="uppercase">Forhåndsvisning</label>
                {% block previews %}
                    Velg visning
                {% endblock %}
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(document).on('click', '#previewList_{{ id }} .option', function(e) {
        jQuery(e.target).find('input').click();
    });

    jQuery(document).on('click', '#previewList_{{ id }} .option label', function(e) {
        jQuery(e.target).parents('li.option').find('input').click();
    });

    jQuery(document).on('change', '#previewList_{{ id }} input', function(e) {
        jQuery('#previewList_{{ id }}').find('.preview .option').hide();
        jQuery('#previewList_{{ id }}').find('#preview_' + jQuery(e.target).val()).fadeIn();
    });
</script>