<li class="list-group-item preview-list-element option" data-id="radio_{{id}}_{{ val }}" }}>
    <div class="content">
        <div class="radioContainer">
            <input type="radio" name="{{ id }}" value="{{ val }}" id="radio_{{id}}_{{val}}" />
        </div>
        <div class="optionContainer">
            <label>{{ title }}</label>
            <div class="description">{{ desc }}</div>
        </div>
    </div>
    <div class="clearfix"></div>
</li>