{% if view != 'hendelser' %}
	<h2>Allergier for {{ collection.getNavn() }}</h2>
	
	<p>
		{% if count == 0 %}
			Ingen allergier for {{ collection.getNavn() }}
		{% else %}
			<a href="{{excel_allergier}}" class="btn btn-success">Last ned som excel-fil</a>
		{% endif %}
	</p>
{% endif %}

<h2>Velg gruppering</h2>

<ol class="list-group">
	<li class="list-group-item">
		<a href="?page={{ GET('page') }}&festival={{ GET('festival') }}&gruppe=alle">Alle innslag</a>
	</li>

	{% for hendelse in monstring.getProgram().getAllInkludertSkjulte() %}
		<li class="list-group-item">
			<a href="?page={{ GET('page') }}&festival={{ GET('festival') }}&gruppe={{ hendelse.getId() }}">
			{{ hendelse.getNavn() }}
		</li>
	{% else %}
		Når du oppretter hendelser kan du også velge de her.
	{% endfor %}
</ol>
