<h1>Ledermiddag</h1>

<p>Hvilke ledere som skal ha middag er hentet fra videresendingsskjemaet, og oppdatert hver gang denne rapporten lastes inn. De betalte gjestene faktureres via økonomi-funksjonen, og fylkene har fått prisoverslag i videresendingsskjemaet.</p>

<p>
	<a href="{{excel_middag}}" class="btn btn-success">Last ned som excel-ark</a>
</p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Fylke</th>
			<th>Navn</th>
			<th>Mobil</th>
			<th>E-post</th>
			<th>Prisgruppe</th>
		</tr>
	</thead>
	<tbody>
	{% for l in ledere %}
		<tr>
			<td>{{l.fylke}}</td>
			<td>{{l.l_navn}}</td>
			<td>{{l.l_mobilnummer}}</td>
			<td>{{l.l_epost}}</td>
			<td>{{l.gratis ? 'gratis' : 'betalt'}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>