<h1>Last ned mediafiler</h1>

<p class="lead">Last ned zip-fil eller enkeltbilder</p>

<p>
	{% if c_id is not empty %}
		<a href="?page=UKMrapport_admin&festival=media&c_id={{c_id}}&zip=true">Komprimer og last ned alle som zip-fil</a>
	{% else %}
		<a href="?page=UKMrapport_admin&festival=media&kunstnere=true&zip=true">Komprimer og last ned alle som zip-fil</a>
	{% endif %}
</p>

<ol class="list-unstyled">
{% for i in innslag %}
	{% if i.media.image != 'none_uploaded' and i.media.image != 'none_selected' %}
	<li><a href="{{i.media.image.src}}">{{i.rekkefolge is not empty ? i.rekkefolge~'. ' : ''}}{{i.navn}}</a></li>
	{% else %}
		<li>{{i.rekkefolge is not empty ? i.rekkefolge~'. ' : ''}}{{i.navn}} - MEDIA MANGLER</li>
	{% endif %}
{% endfor %}
</ol>