<style>
.well.card {
	padding: 9px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: #dddddd 2px 1px;
    border: 1px solid #eeeeee;
}
</style>
<h1>Last ned mediafiler</h1>

<p class="lead">Last ned zip-fil eller enkeltbilder</p>

<p>
	{% if c_id is not empty %}
		<a href="?page=UKMrapport_admin&festival=media&c_id={{c_id}}&zip=true">Komprimer og last ned alle som zip-fil</a>
	{% else %}
		<a href="?page=UKMrapport_admin&festival=media&kunstnere=true&zip=true">Komprimer og last ned alle som zip-fil</a>
	{% endif %}
</p>

<div class="row">
	<div class="col-xs-12">
		<ol class="list-unstyled">
		{% for i in innslag %}
			{% if i.type == 'kunst' %}
				{% for tittel in i.titler %}
					<li class="well card {{ tittel.media.image == 'none_uploaded' or tittel.media.image == 'none_selected' ? 'alert alert-danger' : '' }}">
						<div class="pull-left">
							{{ i.rekkefolge is not empty ? i.rekkefolge~'.' : '' }} {{ i.navn }} - {{ tittel.get('tittel') }}
							<br />
							<small>{{ i.fylke }}</small>
						</div>
						<div class="pull-right">
							<small>
								{% if tittel.media.image == 'none_uploaded' or tittel.media.image == 'none_selected' %}
									MEDIA MANGLER
								{% else %}
									<a href="{{ tittel.media.image.src }}">Last ned</a>
								{% endif %}
							</small>
						</div>
						<div class="clearfix"></div>
					</li>
				{% endfor %}
			{% else %}
				<li class="well card {{ i.media.image == 'none_uploaded' or i.media.image == 'none_selected' ? 'alert alert-danger' : '' }}">
					<div class="pull-left">
						{{ i.rekkefolge is not empty ? i.rekkefolge~'.' : '' }} {{ i.navn }}
						<br />
						<small>{{ i.fylke }}</small>
					</div>
					<div class="pull-right">
						<small>
							{% if i.media.image == 'skal_ikke_ha' %}
								Skal ikke ha opplastede mediefiler
							{% elseif i.media.image == 'none_uploaded' or i.media.image == 'none_selected' %}
								MEDIA MANGLER
							{% else %}
								<a href="{{i.media.image.src}}">Last ned</a>
							{% endif %}
						</small>
					</div>
					<div class="clearfix"></div>
				</li>
			{% endif %}
		{% endfor %}
		</ol>
	</div>
</div>