<h1>Hotell UKM Norge</h1>
<p class="lead">Excel-liste som kan sendes til hotellet</p>
<p>Når alle lederskjema er sendt inn av fylkene, og alle rombehov er registrert av UKM Norge kan dette excel-arket lastes ned og sendes til hotellet</p>
<a href="{{excel_hotell_norge}}" class="btn btn-success">Last ned excel-ark for bestilling av hotell</a>

{% for romtype,kapasitet in romtyper %}
	<h3>Status {{ romtype }}rom</h3>
	<div class="UKMwidth">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Gruppe</th>
					{% for natt in alle_netter %}
						<th>{{natt.timestamp|dato('d.m')}}</th>
					{% endfor %}
					<th>Sum</th>
				</tr>
			</thead>
			<tbody>
				{% for gruppe,netter in count[romtype] if gruppe != 'total' %} 
					{% set linjesum = 0 %}
					<tr>
						<td>{{gruppe|capitalize}}</td>
						{% for natt in alle_netter %}
							{% set linjesum = linjesum + count[romtype][gruppe][ natt.dag~'.'~natt.mnd ]|length %}
							<td>{{count[romtype][gruppe][ natt.dag~'.'~natt.mnd ]|length}}</td>
						{% endfor %}
						<th>{{ linjesum }}</th>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				{% for gruppe,netter in count[romtype] if gruppe == 'total' %} 
					{% set linjesum = 0 %}
					<tr>
						<th>{{gruppe|capitalize}}</th>
						{% for natt in alle_netter %} 
							{% set linjesum = linjesum + count[romtype][gruppe][ natt.dag~'.'~natt.mnd ]|length %}
							<th>{{count[romtype][gruppe][ natt.dag~'.'~natt.mnd ]|length}}</th>
						{% endfor %}
						<th>{{ linjesum }}</th>
					</tr>
				{% endfor %}
			</tfoot>
		</table>
	</div>
{% endfor %}