{% for key, dag in dager %}
    <h1>{{ key|dato('l')|capitalize }}</h1>
    {% for hendelse in dag['hendelse'] %}
        
        <h3>{{ hendelse.getNavn() }}</h3>

        {% for innslag in dag['innslag'] %}        
            <hr>
            <h5 class="innslag-hendelse-info make-tab"><b>{{ innslag.getNavn() }}</b> - <i>oppmotested: {{ hendelse.getSted() }}</i></h5>
                <table class="table make-tab">
                    <thead>
                        <tr >
                            <th class="col-xs-4" scope="col">Navn</th>
                            <th class="col-xs-4" scope="col">Tlf</th>
                            <th class="col-xs-4" scope="col">Oppmøtetid</th>
                        </tr>
                    </thead>
            {% for person in innslag.getPersoner().getAll() %}

                    <tbody>
                        <tr class="">
                            <td class="col-xs-4">{{ person.getNavn() }}</td>
                            <td class="col-xs-4">{{ person.getMobil() }}</td>
                            <td class="col-xs-4">{{ hendelse.getOppmoteTid(innslag)|dato('H:i') }}</td>
                        </tr>
                    </tbody>
            {% endfor %}
                </table>
        {% endfor %}
        <hr>
    {% endfor %}
{% endfor %}

<style>
    .make-tab {
        margin-left: 30px;
    }
    table.make-tab {
        margin-left: 60px;
    }
    .innslag-hendelse-info {
        margin-top: 30px;
    }
</style>